---
layout: compress


---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="/timeline_style.css">

</head>

<body>
    {% include navbar.html %}

    <!-- partial:index.partial.html -->
    <section class="hero is-fullheight" id="timeline">
        <div class=" hero-body">
            <div class="container py-5">
                {% include blogpage-heading.html %}
                
                <div class="row">
                    <h1 style="color: black; font-size: 40px; padding-top: 30px;" class=" has-text-centered has-text-weight-semibold">Timeline</h1><br><br>
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox">
                                            <img src="/kickoff.png" class="img">
                                        </span></div>
                                    <div class="content">
                                        <span class="year">October 2022</span>
                                        <h3 class="title h4">Project Kickoff</h3>
                                        <p class="description">
                                            Project was kicked off by Mr. Enes Yigitbas with introduction to the project
                                            group member and getting to know about the technologies that we were going
                                            to work on, along with the different phases of the project period.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/tutorial.png"
                                                class="img" /></span></div>
                                    <div class="content">
                                        <span class="year">October 2022 - November 2022</span>
                                        <h3 class="title h4">Tutorial Phase</h3>
                                        <p class="description">
                                            This phase focused on getting all the group members warmed up and defining
                                            the requirements and goals of DSS-VR.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/research.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">November 2022 - December 2022</span>
                                        <h3 class="title h4">Research Phase</h3>
                                        <p class="description">
                                            Each group member conducted research individually on different topics such
                                            as Unity, Blender, Meta Quest/Oculus Development Kit, Potential DSS-VR Use
                                            Cases, VR tourism and Sacred Spaces and Their Representation, which were
                                            later presented to the whole group to get everyone at the same knowledge
                                            level.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/implementation.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">December 2022</span>
                                        <h3 class="title h4">Beginning of Implementation</h3>
                                        <p class="description">
                                            All the information collected during the research phase was combined with
                                            the refined requirements and goals, and implementation was initiated.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/development.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">Present</span>
                                        <h3 class="title 4">Development Phase</h3>
                                        <p class="description">
                                            The application has started taking shape and the environment has been set up, the first version should be ready soon for testing.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/testing.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">Coming Months</span>
                                        <h3 class="title h4">Testing & User Feedback</h3>
                                        <p class="description">
                                            Application will be tested in different environments and with different users.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.7</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Egestas fringilla phasellus faucibus scelerisque eleifend donec. Vitae justo
                                            eget magna fermentum iaculis. Euismod lacinia at quis risus sed vulputate.
                                            Congue nisi vitae suscipit tellus mauris a diam.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.8</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Eget nunc scelerisque viverra mauris in aliquam. Nibh tortor id aliquet
                                            lectus.
                                        </p>
                                        <p class="description">
                                            Semper quis lectus nulla at volutpat diam. Scelerisque purus semper eget
                                            duis at tellus at urna condimentum. Nisl suscipit adipiscing bibendum est.
                                        </p>
                                        <p class="description">
                                            Nisi vitae suscipit tellus mauris. Dignissim diam quis enim lobortis
                                            scelerisque fermentum dui faucibus. Placerat orci nulla pellentesque
                                            dignissim enim sit amet venenatis urna.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.9</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Sit amet consectetur adipiscing elit ut. Dolor morbi non arcu risus quis
                                            varius quam quisque. Quis ipsum suspendisse ultrices gravida dictum fusce ut
                                            placerat orci. </p>
                                        <p class="description">
                                            Elementum sagittis vitae et leo. Risus pretium quam vulputate dignissim
                                            suspendisse in est ante in.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.10</span>
                                        <h3 class="title h4">Heading</h3>

                                        <p class="description">
                                            Tellus in hac habitasse platea. Commodo nulla facilisi nullam vehicula ipsum
                                            a. Quis commodo odio aenean sed adipiscing. Ipsum consequat nisl vel pretium
                                            lectus. Dolor morbi non arcu risus quis varius. Mi bibendum neque egestas
                                            congue quisque egestas diam in.</p>
                                        <p class="description">
                                            Id eu nisl nunc mi ipsum faucibus vitae aliquet. Placerat orci nulla
                                            pellentesque dignissim enim.</p>

                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- partial -->
    {% include footer.html %}
</body>

</html>