<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="">
                        <img class="" src="LOGO Ella.jpeg" alt="DSS-VR">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Objective</h3><br>
                            <p>Our project group's objective is to study how religious beliefs and understanding work in
                                Virtual Reality (VR).
                                More specifically, the overarching question is 'What are the potential benefits and
                                drawbacks of digitizing sacred spaces
                                through VR?'. This question is very broad and has many different dimensions, such as: How do
                                people connect to their own beliefs?
                                How do people interact with people with the (mostly) same beliefs? How do people perceive
                                and judge beliefs that are different to
                                their own? Essentially, this boils down to three distinctions, i.e. the personal level, the
                                intrafaith level and the interfaith
                                level. Beyond this, there are several more aspects to consider like, whether we talk about a
                                personal, professional or societal
                                context. With our application we want to provide a way to evaluate and hopefully answer
                                these and possibly more different
                                questions.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Interactions</h3><br>
                            <p>A big part of our application will focus on how people interact with other people. We aim to
                                evaluate how interaction changes in
                                the VR environment. Do people interact more? Do people interact with people/groups they
                                don't normally interact with? Do the
                                users feel like they communicate on a 'better' level? How does the interaction influence the
                                users' understanding and acceptance
                                of other people's practices and beliefs?
                                Some of these questions are more on the objective while others are purely subjective.
                                When it comes to variables like the 'time spent talking' or 'religions of people a user
                                talks to', we can automatically collect
                                data by measuring times users talked to other people and storing the religions of the users.
                                When it comes to variables like the 'quality of an interaction' or
                                'acceptance/understanding', people might define
                                "good communication" differently which makes it impossible to collect data automatically. In
                                these cases we need direct and
                                personal feedback from the users.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Knowledge and
                                Engagement</h3><br>
                            <p>Interaction can also happen between user and environment. More specifically, by using
                                interactive objects, i.e., objects that
                                can be manipulated by the user or by observing 'static' information inside the space.
                                Interestig question arise such as: Does
                                VR transmit the essence and meaning of the space better than on a simple 2D screen? If users
                                are given the opportunity to engage
                                with objects they cannot engage with in realtiy, do the take it? Would people make use of
                                'supernatural' (e.g., lifting really
                                heavy objects) powers? Does interaction with the VR space positively influence understanding
                                of the topic?
                                For question that ask 'do the users use this?' we can automatically collect data by storing
                                if these objects are used. To answer
                                the question if the VR space provides better understandin, direct user feedback is needed
                                since this is subjective.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Accessibility</h3>
                            <br>
                            <p>One big advantage of VR is that people that are physically, mentally or due to personal
                                reasons not able to visit real-world
                                spaces, most of them are still able to do so in VR. While this obviously improves their
                                possibilities, it might still be
                                interesting in which way the users feel these advantages. Do they feel less lonely than with
                                other digital possibilities
                                (e.g. walking around a 3D space only on a screen)? Do they feel more connected to their own
                                faith through these experiences?
                                Because these aspects are purely subjective, direct user feedback is needed to answer these
                                questions.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Children's
                                Perspective</h3><br>
                            <p>Another group that might heavily be interested and profit from VR technology are children. In
                                many cases it is hard to motivate
                                children to learn about something because they find it boring or find it hard to
                                concentrate. VR provides the possibility to
                                introduce a higher level of 'playfulness' to the learning process than, e.g., watching a
                                video. The possibility to actually
                                walk around the space and experience objects by actively touching them or even play with
                                them might increase their interest
                                in things.
                                These aspects are mostly subjective as well. To answer these questions we need to define
                                terms like 'better'. It might be
                                defined as 'learns more' but 'learning less but with a deeper understanding' might be a
                                sensible definition as well.
                                A few aspects that can be collected automatically are for example the amount of 'visitation
                                time' vs. 'interaction time'
                                (i.e., did the user just pass time or did they actually interact with other objects/people?)
                                or storing if objects that
                                cannot be interacted with in reality (e.g., a very old book) are interacted with when given
                                the opportunity.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Ethical
                                Considerations</h3><br>
                            <p>While a lot can be done in VR, maybe not everything should be done. There are members of
                                religious communities that feel
                                very strongly about the physical presence of the sacred spaces and the people. In some parts
                                religion itself might even
                                mandate physical presence for certain occasions/rituals (e.g. the Hajj). Using a virtual
                                environment might not be an
                                adequate substitute for some people. A study could try to answer the question 'Do people
                                accept a VR environment as a substitute
                                for the real-world?'.
                                This of course is subjective and answering the question depends on direct user feedback.
                                Since technology inherently tends
                                to induce very different feelings and opinions throughout different generations, it is
                                important to consider this factor when
                                conducting a user study.</p><br>
                            <h3 class=" is-size-4  is-uppercase has-text-weight-medium is-marginless"> Technical Realization
                            </h3><br>
                            <p>This might be a less obvious question but during this project we will also aim to answer the
                                question 'How do you digitize sacred
                                spaces in VR from a technical (including design) point of view?'. Especially the aspect of
                                'realism' has a very wide range in VR.
                            </p><br>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href=" {{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Research Questions</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">About The Team</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>