<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">

            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Enes Yigitbas - Supervisor
            </a>
            {% endunless %}
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ella - Team Lead, Product Owner and Developer
            </a>
            {% endunless %}
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Julian - Second Team Lead, Deployment Manager and Developer
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Sanket - Hardware Manager, Test Manager and Developer
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Parinay - Documentation Manager and Developer
            </a>
            {% endunless %}
            <hr>
            <!-- <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div> -->
        </div>
    </div>
</section>

<section class="page-section dark-bg arial" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-dark">Team</h2>
            <hr class="divider my-4">
        </div>
        <div class="container text-black">
            <div class="row">
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Kai.jpg" class="img-fluid">
                            <h3>Kai&nbsp;Biermeier</h3>
                            <p>Project&nbsp;Leader<br>Scrum&nbsp;Master</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Juliet.jpeg" class="img-fluid">
                            <h3>Juliet&nbsp;Chukwuemeka</h3>
                            <p>Configuration&nbsp;Manager<br>Representative&nbsp;Project&nbsp;Leader</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Damilola.jpeg" class="img-fluid">
                            <h3>Damilola&nbsp;Gbadamosi</h3>
                            <p>Documentation&nbsp;Expert</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Ivan.png" class="img-fluid">
                            <h3>Ivan&nbsp;Jovanovikj</h3>
                            <p>Supervisor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Sarah.png" class="img-fluid">
                            <h3>Sarah&nbsp;Krings</h3>
                            <p>(AR)&nbsp;Domain&nbsp;Expert<br>Representative&nbsp;Project&nbsp;Leader</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Niladri.jpeg" class="img-fluid">
                            <h3>Niladri&nbsp;Mondal</h3>
                            <p>Quality&nbsp;Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Prakhar.png" class="img-fluid">
                            <h3>Prakhar&nbsp;Rathi</h3>
                            <p>(Robot)&nbsp;Domain&nbsp;Expert</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Hassen.jpg" class="img-fluid">
                            <h3>Hassen&nbsp;Smaoui</h3>
                            <p>Technology&nbsp;Expert</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front"> <img src="assets/img/team/Enes.png" class="img-fluid">
                            <h3>
                                <a href="https://www.uni-paderborn.de/person/8447" style="color: black">Enes&nbsp;Yigitbas</a>
                            </h3>
                            <p>Supervisor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>