---
layout: compress

---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <meta charset="UTF-8">
    <title>Research Questions</title>
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="/research.css">

</head>

<body>
    {% include navbar.html %}

    <!-- partial:index.partial.html -->
    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container py-5">
                {% include blogpage-heading.html %}

                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h1 style="font-size: 180%; color: black; padding-left: 130px;" class="is-uppercase has-text-weight-semibold is-marginless">
                        Research Questions</h1><br>

                    <div class="item">
                        <div class=" image">
                            <div>
                                <img src="/interaction.jpeg" />
                                <p>Interaction between the users</p>
                                <!-- <span>
                                    Interaction between users
                                </span> -->
                            
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Interaction</h1>
                                <p>A big part of our application will focus on how people interact with other
                                    people. We aim to evaluate how interaction changes in the VR environment. Do people interact more? Do
                                    people interact with people/groups they don't normally interact with? Do the users feel like they
                                    communicate on a 'better' level? How does the interaction influence the users' understanding and
                                    acceptance of other people's practices and beliefs?
                                    Some of these questions are more on the objective while others are purely subjective.
                                    When it comes to variables like the 'time spent talking' or 'religions of people a user talks to', we
                                    can automatically collect data by measuring times users talked to other people and storing the religions
                                    of the users.
                                    When it comes to variables like the 'quality of an interaction' or 'acceptance/understanding', people
                                    might define "good communication" differently which makes it impossible to collect data automatically.
                                    In these cases we need direct and personal feedback from the users. </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="/knowledge.jpeg" />
                                <p>Engagement with the environment</p>
                                <!-- <span>
                                    Engagement
                                </span> -->
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Knowledge and Engagement</h1>
                                <p>Interaction can also happen between user and environment. More specifically, by
                                    using interactive objects, i.e., objects that can be manipulated by the user or by observing 'static'
                                    information inside the space. Interestig question arise such as: Does VR transmit the essence and
                                    meaning of the space better than on a simple 2D screen? If users are given the opportunity to engage
                                    with objects they cannot engage with in realtiy, do the take it? Would people make use of 'supernatural'
                                    (e.g., lifting really heavy objects) powers? Does interaction with the VR space positively influence
                                    understanding of the topic?
                                    For question that ask 'do the users use this?' we can automatically collect data by storing if these
                                    objects are used. To answer the question if the VR space provides better understandin, direct user
                                    feedback is needed since this is subjective.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="/accessibility.jpeg" />
                                <p>Increased accessibility</p>
                               <!--  <span>
                                    07.12.2016
                                </span> -->
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Accessibility</h1>
                                <p>One big advantage of VR is that people that are physically, mentally or due to
                                    personal reasons not able to visit real-world spaces, most of them are still able to do so in VR. While
                                    this obviously improves their possibilities, it might still be interesting in which way the users feel
                                    these advantages. Do they feel less lonely than with other digital possibilities (e.g. walking around a
                                    3D space only on a screen)? Do they feel more connected to their own faith through these experiences?
                                    Because these aspects are purely subjective, direct user feedback is needed to answer these questions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="/childrens perspective.jpeg" />
                                <p>Learning for children</p>
                                <!-- <span>
                                    08.12.2016
                                </span> -->
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Children's Perspective</h1>
                                <p>Another group that might heavily be interested and profit from VR technology are
                                    children. In many cases it is hard to motivate children to learn about something because they find it
                                    boring or find it hard to concentrate. VR provides the possibility to introduce a higher level of
                                    'playfulness' to the learning process than, e.g., watching a video. The possibility to actually walk
                                    around the space and experience objects by actively touching them or even play with them might increase
                                    their interest in things.
                                    These aspects are mostly subjective as well. To answer these questions we need to define terms like
                                    'better'. It might be defined as 'learns more' but 'learning less but with a deeper understanding' might
                                    be a sensible definition as well.
                                    A few aspects that can be collected automatically are for example the amount of 'visitation time' vs.
                                    'interaction time' (i.e., did the user just pass time or did they actually interact with other
                                    objects/people?) or storing if objects that cannot be interacted with in reality (e.g., a very old book)
                                    are interacted with when given the opportunity.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="/ethical.jpeg" />
                                <p>Keeping ethical beliefs in mind</p>
                                <!-- <span>
                                    08.12.2016
                                </span> -->
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Ethical Considerations</h1>
                                <p>While a lot can be done in VR, maybe not everything should be done. There are
                                    members of religious communities that feel very strongly about the physical presence of the sacred
                                    spaces and the people. In some parts religion itself might even mandate physical presence for certain
                                    occasions/rituals (e.g. the Hajj). Using a virtual environment might not be an adequate substitute for
                                    some people. A study could try to answer the question 'Do people accept a VR environment as a substitute
                                    for the real-world?'.
                                    This of course is subjective and answering the question depends on direct user feedback. Since
                                    technology inherently tends to induce very different feelings and opinions throughout different
                                    generations, it is important to consider this factor when conducting a user study.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="/technical.jpeg" />
                                <p>Technological aspect</p>
                                <!-- <span>
                                    08.12.2016
                                </span> -->
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>Technical Realization</h1>
                                <p>This might be a less obvious question but during this project we will also aim
                                    to answer the question 'How do you digitize sacred spaces in VR from a technical (including design)
                                    point of view?'. Especially the aspect of 'realism' has a very wide range in VR.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- <div id="results-container"></div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
            <h1 style="font-size: 160%;" class="   is-uppercase has-text-weight-semibold is-marginless"> Research
                Questions</h1><br>
            <h1 style="font-size: 140%;" class="  has-text-weight-medium is-marginless"> Interaction
            </h1><br>
            <p style="font-size: 130%;">A big part of our application will focus on how people interact with other
                people. We aim to evaluate how interaction changes in the VR environment. Do people interact more? Do
                people interact with people/groups they don't normally interact with? Do the users feel like they
                communicate on a 'better' level? How does the interaction influence the users' understanding and
                acceptance of other people's practices and beliefs?
                Some of these questions are more on the objective while others are purely subjective.
                When it comes to variables like the 'time spent talking' or 'religions of people a user talks to', we
                can automatically collect data by measuring times users talked to other people and storing the religions
                of the users.
                When it comes to variables like the 'quality of an interaction' or 'acceptance/understanding', people
                might define "good communication" differently which makes it impossible to collect data automatically.
                In these cases we need direct and personal feedback from the users.
            </p><br>
            <p style="font-size: 140%;" class="  has-text-weight-medium is-marginless">Knowledge and Engagement</p><br>
            <p style="font-size: 130%;">Interaction can also happen between user and environment. More specifically, by
                using interactive objects, i.e., objects that can be manipulated by the user or by observing 'static'
                information inside the space. Interestig question arise such as: Does VR transmit the essence and
                meaning of the space better than on a simple 2D screen? If users are given the opportunity to engage
                with objects they cannot engage with in realtiy, do the take it? Would people make use of 'supernatural'
                (e.g., lifting really heavy objects) powers? Does interaction with the VR space positively influence
                understanding of the topic?
                For question that ask 'do the users use this?' we can automatically collect data by storing if these
                objects are used. To answer the question if the VR space provides better understandin, direct user
                feedback is needed since this is subjective.
            </p><br>



            <p style="font-size: 140%;" class="has-text-weight-medium is-marginless">Accessibility</p><br>
            <p style="font-size: 130%;">One big advantage of VR is that people that are physically, mentally or due to
                personal reasons not able to visit real-world spaces, most of them are still able to do so in VR. While
                this obviously improves their possibilities, it might still be interesting in which way the users feel
                these advantages. Do they feel less lonely than with other digital possibilities (e.g. walking around a
                3D space only on a screen)? Do they feel more connected to their own faith through these experiences?
                Because these aspects are purely subjective, direct user feedback is needed to answer these questions.
            </p><br>




            <p style="font-size: 140%;" class="has-text-weight-medium is-marginless">Children's Perspective</p><br>
            <p style="font-size: 130%;">Another group that might heavily be interested and profit from VR technology are
                children. In many cases it is hard to motivate children to learn about something because they find it
                boring or find it hard to concentrate. VR provides the possibility to introduce a higher level of
                'playfulness' to the learning process than, e.g., watching a video. The possibility to actually walk
                around the space and experience objects by actively touching them or even play with them might increase
                their interest in things.
                These aspects are mostly subjective as well. To answer these questions we need to define terms like
                'better'. It might be defined as 'learns more' but 'learning less but with a deeper understanding' might
                be a sensible definition as well.
                A few aspects that can be collected automatically are for example the amount of 'visitation time' vs.
                'interaction time' (i.e., did the user just pass time or did they actually interact with other
                objects/people?) or storing if objects that cannot be interacted with in reality (e.g., a very old book)
                are interacted with when given the opportunity.
            </p><br>





            <p style="font-size: 140%;" class="has-text-weight-medium is-marginless">Ethical Considerations</p><br>
            <p style="font-size: 130%;">While a lot can be done in VR, maybe not everything should be done. There are
                members of religious communities that feel very strongly about the physical presence of the sacred
                spaces and the people. In some parts religion itself might even mandate physical presence for certain
                occasions/rituals (e.g. the Hajj). Using a virtual environment might not be an adequate substitute for
                some people. A study could try to answer the question 'Do people accept a VR environment as a substitute
                for the real-world?'.
                This of course is subjective and answering the question depends on direct user feedback. Since
                technology inherently tends to induce very different feelings and opinions throughout different
                generations, it is important to consider this factor when conducting a user study.
            </p><br>




            <p style="font-size: 140%;" class="has-text-weight-medium is-marginless">Technical Realization</p><br>
            <p style="font-size: 130%;">This might be a less obvious question but during this project we will also aim
                to answer the question 'How do you digitize sacred spaces in VR from a technical (including design)
                point of view?'. Especially the aspect of 'realism' has a very wide range in VR.
            </p><br> -->





        <!--Blog Cards Section-->

        <!-- {% for post in site.posts %}
            {% include blog-card.html %}
        {% endfor %}
        </div> -->
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
    <script src="{{site.url}}{{site.baseurl}}/assets/js/simple-jekyll-search.js"></script>

    <script>
        SimpleJekyllSearch({
            searchInput: document.getElementById('search'),
            resultsContainer: document.getElementById('results-container'),
            json: '{{site.url}}{{site.baseurl}}/search.json',
            searchResultTemplate: '<div style="border: 0.15rem dashed black" class="searchResult columns has-text-centered" id="blog-card"><div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"><div class="image is-16by9" style="background-image: url({image});"></div></div><a href="{url}"><div class="column has-text-left-desktop has-text-left-tablet"><h1 class="title is-size-4-touch">{title}</h1><div class="content has-text-grey">{content}<hr class="has-background-grey"><span class="has-text-grey">Published on <span class="has-text-weight-semibold">{date}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{readtime} min</span> read</div></div></a></div>',
            noResultsText: '<div class="subtitle has-text-centered is-uppercase">No Results Found</div><hr class="has-background-black" style="margin: 0.5rem 5rem 2.5rem 5rem">',
            fuzzy: true,
        });
    </script>
</body>

</html>