---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
                {% include blogpage-heading.html %}
            </div>
        </div>
        <div id="results-container"></div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
            <h1 style="font-size: 150%;" class="   is-uppercase has-text-weight-medium is-marginless"> Research
                Questions</h1><br>
            <h1 style="font-size: 130%;" class="  has-text-weight-medium is-marginless"> Some of the research questions
                that we will
                focus on in this project are mentioned here, which we will try to find the answer to as close as
                possible.
            </h1><br>
            <p style="font-size: 120%;">Q. What are the potential benefits and drawbacks of digitizing sacred spaces
                through
                virtual reality? </p><br>
            <p style="font-size: 120%;">Q. How does the VR environment influence interaction between people?
                <p style=" text-indent: 0%; font-size: 120%;"> - Do people interact more?</p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Can the virtual experience increase
                    understanding/acceptance
                    for other religions and their practices/beliefs?</p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Do the users feel that they communicate on a better
                    level
                    in VR than in reality/other mediums? </p>
            </p><br>

            <p style="font-size: 120%;">Q. How does virtual reality technology change the way that people engage with
                and
                understand sacred spaces/objects and their history?
                <p style=" text-indent: 0%; font-size: 120%;"> - How does the use of virtual reality in sacred spaces
                    compare
                    to other forms of digital media, such as video or photographs, in terms of their effectiveness in
                    transmitting the essence and meaning of the spaces?</p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Do people use the opportunity to engage with objects
                    they cannot engage with in reality?</p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Do people make use of "supernatural" usage of objects?
                </p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Can the virtual experience increase
                    understanding/acceptance for other religions and their practices/beliefs?</p>

            </p><br>

            <p style="font-size: 120%;">Q. How can virtual reality be used to enhance the experience of visiting sacred
                spaces for those who are unable to physically visit them due to distance or accessibility issues?
                <p style=" text-indent: 0%; font-size: 120%;"> - Does the virtual experience decrease the feeling of
                    loneliness/isolation? </p>
                <p style=" text-indent: 1%; font-size: 120%;"> - Do the users feel included? </p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Do the users feel more connected to their faith through
                    these experiences? </p>


            </p><br>

            <p style="font-size: 120%;">Q. How does a VR learning experience differ from the conventional methods when
                it comes to religious preaching for children?
                <p style=" text-indent: 0%; font-size: 120%;"> - Do the users show more interest in things than in
                    reality? </p>
                <p style=" text-indent: 0%; font-size: 120%;"> - Does the virtual experience increase the amount of time
                    that users interact/engage? </p>

            </p><br>

            <p style="font-size: 120%;">Q. What are the ethical considerations of using virtual reality in sacred
                spaces, and how can these be addressed?
                <p style=" text-indent: 0%; font-size: 120%;"> - Does the virtual experience provide the same
                    feelings/emotions as the real one does? </p>
                <p style=" text-indent: 0%; font-size: 120%;"> - How do users feel about using VR as a substitute for
                    the real experience? </p>
            </p><br>

            <p style="font-size: 120%;">Q. How can sacred spaces be digitized using VR? 
                <p style=" text-indent: 0%; font-size: 120%;"> - What technologies can/should (not) be used?  </p>
                <p style=" text-indent: 0%; font-size: 120%;"> - What are/were the challenges?</p>
            </p><br>

            <!--Blog Cards Section-->

            <!-- {% for post in site.posts %}
            {% include blog-card.html %}
        {% endfor %} -->
        </div>
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
    <script src="{{site.url}}{{site.baseurl}}/assets/js/simple-jekyll-search.js"></script>

    <script>
        SimpleJekyllSearch({
            searchInput: document.getElementById('search'),
            resultsContainer: document.getElementById('results-container'),
            json: '{{site.url}}{{site.baseurl}}/search.json',
            searchResultTemplate: '<div style="border: 0.15rem dashed black" class="searchResult columns has-text-centered" id="blog-card"><div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"><div class="image is-16by9" style="background-image: url({image});"></div></div><a href="{url}"><div class="column has-text-left-desktop has-text-left-tablet"><h1 class="title is-size-4-touch">{title}</h1><div class="content has-text-grey">{content}<hr class="has-background-grey"><span class="has-text-grey">Published on <span class="has-text-weight-semibold">{date}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{readtime} min</span> read</div></div></a></div>',
            noResultsText: '<div class="subtitle has-text-centered is-uppercase">No Results Found</div><hr class="has-background-black" style="margin: 0.5rem 5rem 2.5rem 5rem">',
            fuzzy: true,
        });
    </script>
</body>

</html>